.Button{
	height : 50px;
	width : 50px;
	border: 1px solid black;
}
.row{
	display: flex;
}
.DisplayScreen{
	height: 60px;
	width : 204px;
	border: 1px solid black;
}
.InputScreen{
	width: 200px;
	height: 25px;
	border: none;
}

.OutputScreen{
	width: 200px;
	height: 25px;
	border: none;
}